:root {
    --dark-1: black;
    --light-1: white;
}


body {
    margin: 0;
}

.grid-container {
    display: grid;
    background-color: var(--dark-1);
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    width: 500px;
    height: 500px;
}

.grid-item {
    size: 1px 1px 1px 1px;
    background-color: cornflowerblue;

}